{% extends 'master_template.html'%}

{% block content %}
            <div class="box">
                 <h2>Welcome to Bid me , service page</h2>
                <p style="text-align:justify;">
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum vel consequuntur, assumenda doloribus atque veniam aperiam nam unde eius, sit perferendis modi molestias dolorum exercitationem temporibus doloremque sint quo aliquam alias, rerum pariatur blanditiis iusto velit. Id deserunt necessitatibus sunt, dicta sapiente harum, doloremque nostrum voluptatibus quidem doloribus dignissimos nihil!
                </p>
            </div>
{% endblock content %}
